<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms" style="padding-left: 5px;padding-right: 5px;">
    <div class="post-block video" style="height: 100%;">
        <div class="video-wrapper">
            <iframe width='500' height='294' src="https://www.youtube-nocookie.com/embed/KQieRoFs1x4?&theme=dark&keyboard=1&autohide=1&showinfo=0&mute=1&modestbranding=1" allowfullscreen></iframe>
            <!--<img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'"> -->
        </div>

        <div class="content">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{ .Summary }}</p>
            <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
        </div>
    </div>
</article>
