{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "navigation.html" . }}

{{ partial "sidebar.html" $data.sideNavi }}

{{ partial "banner_small.html" . }}

{{ partial "submenu.html" $data.submenu.modernWorkplace }}

{{ partial "contentModulV3-dark.html" $data.microsoftOffice }}

{{ partial "contentModulV1-light.html" $data.mobileDeviceManagment }}

{{ partial "contentModulV2-dark.html" $data.collaboration }}

{{ partial "contentModulV1-light.html" $data.kommunikation }}

{{ partial "contentModulV2-dark.html" $data.clients }}

{{ partial "contentModulV1-light.html" $data.lizenzmanagment }}

{{ end }}
