{{ $data := index site.Data site.Language.Lang }}

<section class="section-bg p-3">
    <div class="container">
        <div class="row justify-content-center" style="color: #e7e7e7">
            {{ with $data.linkerKasten.linke_box }}
            <div class=" col-lg-5 m-4 bg-one pb-3">
                <div class="row pt-3">
                    <div class="col-lg-2">
                        <div class="" style="background-color: #e30232; width: 45px; height:45px">
                            <img class="m-2" src="{{ $data.support.icons.left | relLangURL}}" style="width: 30px; height:30px;">
                        </div>
                    </div>
                    <div class="col-lg-10 pb-4">
                        <div class="mb-5">
                            <h4 class="text-white">
                                {{ .headline }}
                            </h4>
                            <p class="mb-2" style="font-size: 11pt">
                                {{ .copy }}
                            </p>
                        </div>

                        <div class="mb-3">
                            <p> <strong> {{ .headlineservice }}</strong>
                            <a href="mailto:{{ .servicevertragskundenemail }}">
                            {{ .servicevertragskundenemail }}
                            </a>
                            </p>
                        </div>

                        {{ if .serviceemailenable}}
                        <div class="mb-3">
                            <p> <strong>{{ .serviceemailHeadline }}</strong>
                            <a href="mailto:{{ .serviceemail }}">
                                {{ .serviceemail }}
                            </a>
                            </p>
                        </div>
                        {{ end }}

                        <div class="mb-3">
                            <p> <strong>{{ .servicetelHeadline }}</strong>
                                <a href="mailto:{{ .servicetel }}">
                                    {{ .servicetel }}
                                </a>
                            </p>
                        </div>


                        {{ range .buttons }}
                        <a class="btn-dpx mt-3" href="{{ .link | absURL }}">
                          <p class="btnBold m-0" > {{ .name | markdownify }} </p>
                        </a>
                        {{ end }}

                    </div>
                </div>

            </div>
            {{ end }}

            {{ with $data.rechterKasten.rechte_box }}

            <div class=" col-lg-5 m-4 bg-one">
                <div class="row pt-3">
                    <div class="col-lg-2">
                        <div class="" style="background-color: #e30232; width: 45px; height:45px">
                            <img class="m-2" src="{{ $data.support.icons.rigth | relLangURL}}" style="width: 30px; height:30px;">
                        </div>
                    </div>

                    <div class="col-lg-10 pb-4">
                        <div class="mb-5">
                            <h4 class="text-white">
                                {{ .headline }}
                            </h4>
                            <p class="mb-2" style="font-size: 11pt">
                                {{ .copy }}
                            </p>
                        </div>

                        <div class="mb-3">
                            <p> <strong>{{ .softwareservicemailHeadline }}</strong>
                                <a href="mailto:{{ .softwareservicemail }}">
                                    {{ .softwareservicemail }}
                                </a>
                            </p>
                        </div>
                        <div class="mb-3">
                            <p> <strong>{{ .softwareservicetelHeadline }}</strong>
                                <a href="{{ .softwareservicetel }}">
                                    {{ .softwareservicetel }}
                                </a>
                            </p>
                        </div>


                        {{ range .buttons }}
                        <a class="btn-dpx mt-4" href="{{ .link | absURL }}">
                            <p class="btnBold m-0" > {{ .name }} </p>
                        </a>
                        {{ end }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{{ end }}
