<section class="mb-5">
    <div class="container">
        <div class="row">
            {{ range $index, $element := .boxes }}
            <div class="col-lg-4 p-1">
                <div class="p-5 h-100 dark
                {{ $color := mod $index 2 }}
                {{ if eq $color 1 }} spct-box-red {{ end }}
                {{ if eq $color 0 }} spct-box-blue {{ end }}
                " style="position: relative;">
                <div class="text-center pt-3
                {{ if eq $color 1 }} iconBoxes-red {{ end }}
                {{ if eq $color 0 }} iconBoxes-blue {{ end }}
                ">
                    <i class="{{ $element.icon }}" style="color:#e7e7e7; font-size: 20pt"></i>
                </div>
                <h4 class="mb-4" style="color:#e7e7e7;"> {{ $element.headline }} </h4>
                    <ul style="padding-left: 20px">
                    {{ range $element.liste }}
                        <li>{{ .item }}</li>
                    {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
