<section class="section-ligth">
    <div class="container p-5" style="max-width: 1920px;">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h2 style="color:#353b43"> {{ .headline }}</h2>
                <p style="color:#353b43"> {{ .content | markdownify }} </p>
            </div>
            {{ range $index, $element := .boxes }}
            <div class="col-lg-3 p-5">
                <div class="p-4 pt-5 h-100 dark
                {{ $color := mod $index 2 }}
                {{ if eq $color 1 }} spct-box-red {{ end }}
                {{ if eq $color 0 }} spct-box-blue {{ end }}" style="position: relative; background-color: #1b1e21">
                    <div class="text-center pt-3
                        {{ if eq $color 1 }} iconBoxes-red {{ end }}
                        {{ if eq $color 0 }} iconBoxes-blue {{ end }}">
                        <i class="{{ $element.icon }}" style="color:#ffffff; font-size: 20pt"></i>
                    </div>
                    <h4 class="mb-4" style="font-size: 16px; font-weight: 600; color:#e7e7e7"> {{ $element.headline }} </h4>
                    <p style="font-size: 12px; margin: 0; color:#e7e7e7"> {{ $element.content | markdownify }} </p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
