<section class="mb-5">
    <div class="container p-5" style="max-width: 1920px;">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h2> {{ .headline }}</h2>
                <p> {{ .content | markdownify }} </p>
            </div>
            {{ range .boxes }}
            <div class="col-lg-3 p-2">
                <div class="p-5 h-100" style="position: relative; background-color: #1b1e21">
                    <div class="text-center pt-3 iconBoxes">
                        <i class="{{ .icon }}" style="color:#ffffff; font-size: 20pt"></i>
                    </div>
                    <h4 class="mb-4"> {{ .headline }} </h4>
                    <p> {{ .content | markdownify }} </p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
