<section class="pb-5" id="{{ .id }}">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-5 pt-5">
                <img style="width: 100%;" src="{{ .img | absURL }}">
            </div>
            <div class="col-lg-7 p-5">
                <h2 class="mb-4"> {{ .headline }}</h2>
                <h5> {{ .subline }}</h5>
                <p class="pb-3"> {{ .content | markdownify }}</p>
                {{ if .buttons.enable }}
                {{ range .buttons.button }}
                <a class="btn-support mr-3 mt-4" href="{{ .link | relLangURL }}"> {{ .label }} </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
