<section class="pb-5 section-ligth" id="{{ .id }}">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-5 pt-5">
                <img style="width: 100%;" src="{{ .img | absURL }}">
            </div>
            <div class="col-lg-7 pl-5 pt-5 pr-5 light" style="color:#353b43">
                <h2 class="mb-4" style="color:#353b43"> {{ .headline }}</h2>
                <h5 style="color:#353b43"> {{ .subline }}</h5>
                <p class="pb-3" style="color:#353b43"> {{ .content | markdownify }}</p>
                {{ if .buttons.enable }}
                {{ range .buttons.button }}
                <a class="btn-dpx mr-3 mt-4" href="{{ .link | relLangURL }}"> {{ .label }} </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
