{{ $data := index site.Data site.Language.Lang }}

{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="section-bg" >
	<div class="container" style="padding-top:70px;padding-bottom:70px;">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-lg-6 my-auto dark">
				<p style="margin-bottom:6px"> {{ site.Params.company }} <strong style="color:#f3073c; margin-right: 10px; margin-left: 10px"> | </strong> {{ site.Params.road }} <strong style="color:#f3073c; margin-right: 10px; margin-left: 10px"> | </strong> {{ site.Params.city }}</p>
				<p style="margin-bottom:2px"> {{ site.Params.tel }} <strong style="color:#f3073c; margin-right: 10px; margin-left: 10px"> | </strong> <strong> {{ site.Params.mail }} </strong></p>

				<nav class="navbar-expand-lg navbar-dark">

					<div class="collapse navbar-collapse" id="navigation2">
						<ul class="navbar-nav">
							<!-- menu active -->
							{{ $currentPage := . }}
							{{ range $index, $element := site.Menus.footer }}
							{{ $menuURL := .URL | absLangURL }}
							{{ $pageURL:= $currentPage.Permalink | absLangURL }}
							{{ $active := eq $menuURL $pageURL }}
							{{ $len := (len site.Menus.footer) }}

							<li class="nav-item">
								<a style="font-size: 1rem; margin-right:10px; display:block" class="nav-link-footer"
								   href="{{if findRE `^#` $element.URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{$element.URL}}{{else}}{{$element.URL | relLangURL}}{{end}}">
									<strong>{{.Name}}</strong>
								</a>
							</li>

							{{ if ne (add $index 1) $len }}
							<strong style="color:#f3073c; margin-right: 10px"> | </strong>
							{{ end }}

							{{ end }}
						</ul>
					</div>
				</nav>

			</div>
			<div class="col-lg-4"></div>

			<div class="col-lg-2">
				<a href="{{ site.Home.Permalink }}" class="p-1">
					<img src="{{ site.Params.logoSquare | absURL }}" alt="{{ site.Title }}" height="130" />
				</a>
			</div>
		</div>
	</div>

	<div style="background-color: #0b0b0b">
		<div class="container">
			<div class="row wow fadeInUp" data-wow-duration="500ms">
				<div class="pt-3">
					<p class="m-0 text-white">Folgen Sie uns:</p>
				</div>
				<div class="col-lg-3">
					<div class="social-icon">
						<ul class="list-inline m-0">
							{{ with $data.socialmedia }}
								{{ range .socialMedia }}
									<li class="list-inline-item"><a href="{{ .link | safeURL }}">
										<img src="{{ .icon }}" height="15px" style="padding-top:2px">
									</a></li>
								{{ end }}
							{{ end }}

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify | fingerprint "sha384"}}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-transparent">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		});
	}
</script>

{{ end }}
