{{ "<!-- client logo slider -->" | safeHTML}}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.customerSlider }}

<section class="" style="background-color: #242930; padding-top: 30px; padding-bottom: 30px">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white">
                <div class="title text-center wow fadeInDown p-4">
                    <h2>
                     {{ .title }}
                    </h2><div class="border-meghna"></div>
                </div>
            </div>
        </div>

        <div class="client-logo-slider align-self-center px-0">
            {{ range .Customer.customers }}
            <div class="hero-slider-item overlay-light slick-slide p-2">
                <div class="m-2 p-0 d-flex align-items-center justify-content-center partnerLogo" style="height:102px; width: 164px; background-color: #ffffff">
                    <img class="" style="max-height: 80%; max-width: 80%;"  src="{{ .logo | absURL }}" alt="{{ .link }}" >
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row justify-content-center m-3">
            {{ if .button.enable }}
            <a class="btn-dpx mt-3" href="{{ .button.link | relLangURL }}"> {{ .button.label }} </a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ "<!-- /client logo slider -->" | safeHTML}}