{{ $data := index site.Data site.Language.Lang }}

{{ with $data.mediathek.mediathekFull }}
{{"<!-- Video Section -->" | safeHTML}}
<section id="blog" class="section" style="padding-bottom:300px">
    <div class="container w-100" style="max-width: 90%">
        <div class="row">
            <div class="col-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInDown">
                    {{ $titleFirst := (split .title " ") }}
                    {{ $lenTotal := (len $titleFirst) }}
                    {{ $len := sub $lenTotal 2 }}
                    <h2>
                        {{ range $index, $element := $titleFirst }}
                        {{ if le $index $len }}
                        {{ $element }}
                        {{ else }}
                        <span class="color"> {{ $element }} </span>
                        {{ end }}
                        {{ end }}
                    </h2><div class="border-meghna"></div>
                </div>
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-6">
                        <p>{{ .content | markdownify }}</p>
                    </div>
                </div>
                {{"<!-- /section title -->" | safeHTML}}
            </div>
            <div class="col-12">
                {{"<!-- Filter -->" | safeHTML}}
                <div class="btn-group portfolio-filter btn-group-toggle justify-content-center d-flex flex-wrap"
                     data-toggle="buttons">
                    <label class="btn active">
                        <input type="radio" name="shuffle-filter" value="all" checked="checked" />{{ i18n "all"}}
                    </label>
                    {{ $categories := slice }}
                    {{ range .videos }}
                    {{ range .categories }}
                    {{ $categories = $categories | append . }}
                    {{ end }}
                    {{ end }}
                    {{ range ( $categories | uniq ) }}
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
                    </label>
                    {{ end }}
                </div>
                {{"<!-- /Filter -->" | safeHTML}}
            </div>
        </div>

        <div class="row shuffle-wrapper justify-content-center">
            {{"<!-- Videos -->" | safeHTML}}
            {{ range .videos }}
            <article class="col-lg-3 col-md-4 col-12 clearfix wow fadeInUp mb-4 shuffle-item" data-wow-duration="500ms" style="padding-left: 5px;padding-right: 5px;" data-groups="[{{range $index, $element:= .categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
                <div class="post-video video_large">
                    <div class="video-wrapper" id="ytPlayer2">
                        <iframe width='500' height='294' src="{{ .link }}{{ .code }}{{ .controllsSmall}}" allow="autoplay;"></iframe>
                        <div class="unmute btn_content" style="position:absolute; bottom: -45px; right: 25px"><i class="ti-volume"></i></div>
                        <div class="larger btn_content" style="position:absolute; bottom: -45px; right: 60px"><i class="ti-fullscreen"></i></div>
                    </div>


                    <div class="content_large">
                        <h3><a href="{{ .Permalink }}">{{ .title }}</a></h3>
                        <p>{{ .summary }}</p>
                        <!-- <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a> -->
                    </div>
                </div>

                <div class="darkener" id="ytlarge" style="display: none">
                    <div class="video-modal_content mx-auto" style="width: 925px; height: 520px;">
                        <div class="video-modal_box" style="position:relative; width: 100%; height: 100%;">
                            <button class="video-modal__box-close"> <i class="ti-close"></i></button>
                            <iframe class="largeVideo" width='925' height='520' src="{{ .link }}{{ .code }}{{ .controllsLarge }}" allowfullscreen allow="fullscreen;"></iframe>
                        </div>
                    </div>
                </div>
            </article>

                {{ end }}
                {{"<!-- /Videos -->" | safeHTML}}
        </div>
    </div>
</section>
{{"<!-- /Video -->" | safeHTML}}
{{ end }}