{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="sticky-top navigation">
	<div class="container p-1" style="max-width: 70vw">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand p-0" href="{{ .Site.BaseURL | relLangURL }}">
				{{ if site.Params.logo }}
				<img class="lozad" data-src="{{ site.Params.logo | absURL }}" alt="{{ .Site.Title }}" style="height: 6vh">
				{{ else }}
				{{ site.Title }}
				{{ end }}
			</a>

			<button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav ml-auto" style="position:absolute; right: 0; height: 100% ">
          <!-- menu active -->
          {{ $currentPage := . }}
          {{ $megamenu := site.Params.megamenu}}
          {{ range site.Menus.main }}
          {{ $menuURL := .URL | absLangURL }}
          {{ $pageURL:= $currentPage.Permalink | absLangURL }}
          {{ $active := eq $menuURL $pageURL }}
          {{ if .HasChildren }}

              {{ if eq .Name $megamenu.name}}
            <li id="megamenubutton" class="nav-item dropdown megamenu py-3">

              <a class="nav-link dropdown-toggle" href="#">
                  {{ .Name }}
              </a>


              <div id="megamenu" class="dropdown-megamenu">
                  <div class="d-flex justify-content-center" style="height: 100%">

                  {{ $listChildren := .Children }}
                  {{ $len := (len $listChildren) }}

                  {{ range $index, $element := $listChildren }}

                  {{ $childURL := $element.URL | absLangURL }}
                  {{ $active := eq $childURL $pageURL }}
                      <div class="col-lg-3 mx-2 my-auto">
                          <div class="col-lg-12 mb-5 pb-5" style="height: 100px;">
                            <div class="row h-100">
                                <div class="h-100 p-0">
                                    <img class="dpxProductLogo" src="{{ site.Params.productLogo | absURL }}">
                                </div>
                                <div class="col-lg-8 h-100 p-0" style="max-width: 200px">
                                    <h2 class="text-white" style="margin-bottom:0px; bottom: -0.2vh; position:absolute">{{ $element.Name }}</h2>
                                </div>
                                <div class="col-lg-12 p-1">
                                    {{ $var := index site.Params.megamenusubline.name $index }}
                                    <p class="ml-1">{{ $var | upper }}</p>
                                </div>
                            </div>
                          </div>


                          {{ if .HasChildren }}
                          {{ range $element.Children }}
                          {{ $varName := .Name }}
                          <div class="col-lg-12 mb-2" style="height: 17%;">
                              <div class="row">
                                  <div style="background-color: #dddddd; border-radius: 7px; height: 5vh; width: 5vh"> </div>
                                  <div class="col-10 pl-2 pr-0">
                                      <div class="col-lg-12">
                                      <h4 class="m-0"><a class="" href="{{ .URL | relLangURL}}">{{ .Name }}</a></h4>
                                      </div>
                                      <div class="col-lg-12">
                                          {{ range $data.megamenu.submenu }}
                                          {{ if eq .name $varName}}
                                          <p style="color: #828487">{{ .content }}</p>
                                          {{ end }}
                                          {{ end }}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {{ end }}
                          {{ end }}
                      </div>

                      {{ if ne (add $index 1) $len }}
                      <div class="my-auto mr-3" style="height: 80%; width: 1px; background-color: #999999" ></div>
                      {{ end }}

                  {{ end }}

                  </div>
              </div>
              <div id="overlay-megamenu" class="overlay-megamenu">
              </div>
              <script>
                  const over = document.getElementById("overlay-megamenu")
                  const button = document.getElementById("megamenubutton")
                  const megamenu = document.getElementById("megamenu")

                  button.onmouseleave = function() {
                      over.style.display = 'none'
                  }

                  button.onmouseenter  = function() {
                      over.style.display = 'block'
                  }

                  megamenu.onmouseleave = function() {
                      over.style.display = 'none'
                  }

                  megamenu.onmouseenter  = function() {
                      over.style.display = 'block'
                  }


              </script>
            </li>

              {{ end }}


          {{ else }}
          <li class="nav-item py-3">
            <a class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
              href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{.Name}}</a>

          </li>
          {{ end }}
          {{ end }}
        </ul>
				<!-- Language List
				{{- if site.IsMultiLingual }}
				<select id="select-language" onchange="location = this.value;">
					{{ $siteLanguages := site.Languages}}
					{{ $pageLang := .Page.Lang}}
					{{ range .Page.AllTranslations }}
					{{ $translation := .}}
					{{ range $siteLanguages }}
					{{ if eq $translation.Lang .Lang }}
					{{ $selected := false }}
					{{ if eq $pageLang .Lang}}
					<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
					</option>
					{{ else }}
					<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
					{{ end }}
					{{ end }}
					{{ end }}
					{{ end }}
				</select>
				{{ end }}
				-->
			</div>
		</nav>
	</div>
</section>
