{{ $data := . }}
{{ with $data }}
<div class="floating-menu">
    <ul class="sidebar-list" >
        {{ range .kontakt}}
        <li class="sidebar-slider-container">
            {{ if .tel }}
            <a class="sidebar-link" href="tel:{{ .link | absURL }}">
                <div class="sidebar-icon">
                    <img class="sidebar-img" src="{{ .img | relLangURL}}">
                </div>
                <div class="sidebar-open">
                    {{ .lable }}
                </div>
            </a>
            {{ else }}
            <a class="sidebar-link" href="{{ .link | absURL }}">
                <div class="sidebar-icon">
                    <img class="sidebar-img" src="{{ .img | relLangURL}}">
                </div>
                <div class="sidebar-open">
                    {{ .lable }}
                </div>
            </a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
