
/* slider einblick */
.slider_middle {
    margin-bottom: 80px;
}

/* 3. hero area */
.hero-slider.slick-slider {
    margin-bottom: 20px;
}

.hero-slider [data-animation-in] {
    opacity: 0;
}

.hero-slider-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    outline: 0;
}

.hero-slider .prevArrow,
.hero-slider .nextArrow {
    position: absolute;
    top: 43%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    height: 70px;
    width: 70px;
    background: rgba(48, 48, 50, 0.5);
    color: #fff;
    border: 0;
    font-size: 25px;
    line-height: 70px;
    opacity: 0;
    transition: all linear .2s;
}

@media (max-width: 575px) {
    .hero-slider .prevArrow,
    .hero-slider .nextArrow {
        display: none;
    }
}

.hero-slider .prevArrow:focus,
.hero-slider .nextArrow:focus {
    outline: 0;
}

.hero-slider .prevArrow:hover,
.hero-slider .nextArrow:hover {
    background: rgba(232, 68, 68, 0.5);
}

.hero-slider .prevArrow {
    left: 20px;
}

.hero-slider .nextArrow {
    right: 20px;
}

.hero-slider:hover .prevArrow, .hero-slider:hover .nextArrow {
    opacity: 1;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    background-color: rgba(0,0,0,0);
    border:1px solid white;

    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    border:1px solid red;
    background-color: rgba(227,2,50,0.2);
}

.hero-content h4 {
    letter-spacing: 2px;
}

.floating-menu{
    width:20px;
}

.sidebar-list{
    right: 0px;
    top: 40vh;
    z-index: 9999;
    position: fixed;
    list-style-type: none;
}

.sidebar-slider-container{
    margin-bottom:4px;
    height: 50px;
    list-style:none;
    box-sizing: border-box;
}

.sidebar-icon{
    color: #0b0b0b;
    background-color: #1d2024;
    line-height: 50px;
    width:50px;
    height: 50px;
}

.sidebar-link{
    width: 50px;
    position: absolute;
    right: 0;
    display: block;
    text-decoration: none;
}

.sidebar-open{
    padding: 0 58px 0 11px;
    right: 50px;
    left: auto;
    line-height: 50px;
    position: absolute;
    top: 0;
    z-index:10;
    background-color: #1d2024 ;
    display: none;
    box-sizing: border-box;
    white-space: nowrap;
}

.sidebar-link:hover > .sidebar-open{
    display: block;
    color: white;
}

.sidebar-img{
    top:0;
    bottom:0;
    left:0;
    right: 0;
    position: absolute;
    margin: auto;
    width:60%
}

.responsive-img{
    width:30vw;
}

@media only screen and (max-width: 600px) {
    .responsive-img{
        width:100%;
        margin-bottom:7%
    }
}

.dropdown-megamenu{
    width: 100vw;
    height: 56vh;
    display: none;
    background-color: #282e36;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 65px;
    margin-top:1vh;
    color: #dddddd;
}

.megamenu:hover .dropdown-megamenu {
    display: block;
}

.overlay-megamenu{
    background-color: rgba(20,20,20,0.9);
    position:absolute;
    z-index: -2;
    width:100%;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    display: none;
}
.dpxProductLogo{
    max-width:100%;
    max-height:100%;
}


