
/* slider einblick */
.slider_middle {
    margin-bottom: 80px;
}

/* 3. hero area */
.hero-slider.slick-slider {
    margin-bottom: 20px;
}

.hero-slider [data-animation-in] {
    opacity: 0;
}

.hero-slider-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    outline: 0;
}

.slider-background{
    height:100%;
    width:100%;
    position:absolute;
}

.slider-container{
    height:55vh;
    position: relative
}

.hero-slider .prevArrow,
.hero-slider .nextArrow {
    position: absolute;
    top: 43%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    height: 2em;
    width: 2em;
    background: rgba(48, 48, 50, 0.5);
    color: #fff;
    border: 0;
    font-size: 25px;
    line-height: 70px;
    opacity: 0;
    transition: all linear .2s;
}

.iconSlider{
    position: absolute;
    bottom: 25%;
    left: 29%;
}

@media (max-width: 575px) {
    .hero-slider .prevArrow,
    .hero-slider .nextArrow {
        display: none;
    }
}

.hero-slider .prevArrow:focus,
.hero-slider .nextArrow:focus {
    outline: 0;
}

.hero-slider .prevArrow:hover,
.hero-slider .nextArrow:hover {
    background: rgba(232, 68, 68, 0.5);
}

.hero-slider .prevArrow {
    left: 20px;
}

.hero-slider .nextArrow {
    right: 20px;
}

.hero-slider:hover .prevArrow, .hero-slider:hover .nextArrow {
    opacity: 1;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    background-color: rgba(0,0,0,0);
    border:1px solid white;

    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    border:1px solid red;
    background-color: rgba(227,2,50,0.2);
}


.client-logo-slider .prevArrow,
.client-logo-slider .nextArrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    height: 2em;
    width: 2em;
    background: rgba(48, 48, 50, 0.5);
    color: #fff;
    border: 0;
    font-size: 25px;
    line-height: 70px;
    opacity: 1;
    transition: all linear .2s;
}


@media (max-width: 575px) {
    .client-logo-slider .prevArrow,
    .client-logo-slider .nextArrow {
        display: none;
    }
}

.client-logo-slider .prevArrow:focus,
.client-logo-slider .nextArrow:focus {
    outline: 0;
}

.client-logo-slider .prevArrow:hover,
.client-logo-slider .nextArrow:hover {
    background: rgba(232, 68, 68, 0.5);
}

.client-logo-slider .prevArrow {
    left: -100px;
}

.client-logo-slider .nextArrow {
    right: -100px;
}

.hoverLogo:hover{
    opacity: 0;
}

.hero-content h4 {
    letter-spacing: 2px;
}

.floating-menu{
    width:20px;
}

.sidebar-list{
    right: 0px;
    top: 40vh;
    z-index: 9999;
    position: fixed;
    list-style-type: none;
}

.sidebar-slider-container{
    margin-bottom:4px;
    height: 40px;
    list-style:none;
    box-sizing: border-box;
}

.sidebar-icon{
    color: #0b0b0b;
    background-color: #1d2024;
    line-height: 40px;
    width:40px;
    height: 40px;
}

.sidebar-link{
    width: 40px;
    position: absolute;
    right: 0;
    display: block;
    text-decoration: none;
}

.sidebar-open{
    padding: 0 18px 0 11px;
    right: 40px;
    left: auto;
    line-height: 40px;
    position: absolute;
    top: 0;
    z-index:10;
    background-color: #1d2024 ;
    display: none;
    box-sizing: border-box;
    white-space: nowrap;
}

.sidebar-link:hover > .sidebar-open{
    display: block;
    color: white;
}

.sidebar-img{
    top:0;
    bottom:0;
    left:0;
    right: 0;
    position: absolute;
    margin: auto;
    width:60%
}

.responsive-img{
    width:30vw;
}

.image-fullsize{
    max-height: 600px;
    height: 45vh
}

@media only screen and (max-width: 600px) {
    .responsive-img{
        width:100%;
        margin-bottom:7%
    }
}

.dropdown-megamenu{
    width: 100vw;
    height: 450px;
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 60px;
    padding-top:1.5vh;
    color: #dddddd;
}

.megamenu:hover > .dropdown-megamenu {
    display: block;
}

.overlay-megamenu{
    background-color: rgba(20,20,20,0.8);
    position:absolute;
    z-index: -2;
    width:100%;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
}

.dpxProductLogo{
    width:90px;
}

.dpxPoductIcons{
    width:70%;
}

.fourPointstIcons{
    width:90%;
}

#iconBox {
    background-color: #dddddd;
    border-radius: 3px;
    height: 40px;
    width: 40px;
    position:relative;
    display: block;
    overflow: hidden;
}

#hoverIcon span {
    transition: transform 0.2s ease-out;
}

#hoverIcon span:first-child {
    display: inline-block;
    padding: 3px;
}

#hoverIcon span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
}

#hoverIcon:hover span:first-child {
    transform: translateX(200%);
}

#hoverIcon:hover span:last-child,
.menu[data-animation] a:hover span:last-child {
    transform: none;
}

#hoverIcon:hover h6 {
    color: #b10232;
}

.dropdown-menu-alt {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: #212529;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.nav-item:hover > .dropdown-menu-alt{
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 0.8em
}

.cta > h1 {
    color: #e7e7e7
}

.cta > h2 {
    color: #e7e7e7
}

.cta > h3 {
    color: #e7e7e7
}

.cta > h4 {
    color: #e7e7e7
}

.cta > h5 {
    color: #e7e7e7
}

.cta > h6 {
    color: #e7e7e7
}

.cta > p {
    color:#e7e7e7
}

.dark > h1 {
    color:#e7e7e7
}

.dark >  h2{
    color:#e7e7e7
}

.dark > h3{
    color:#e7e7e7
}

.dark > h4{
    color:#e7e7e7
}

.dark > h5{
    color:#e7e7e7
}

.dark > h6{
    color:#e7e7e7
}

.dark > p{
    color:#e7e7e7
}

.dark > ul{
    color:#e7e7e7
}

.light ul{
    color:#353b43
}
#feature:hover .arrowHover0{
    animation-name: arrowPulse0;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes arrowPulse0 {
    0%   {opacity: 1}
    25%  {opacity: 0}
    50%  {opacity: 1}
    75%  {opacity: 0}
    100% {opacity: 1}
}

#feature:hover .arrowHover1{
    animation-name: arrowPulse1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes arrowPulse1 {
    0%   {opacity: 1}
    10%  {opacity: 1}
    35%  {opacity: 0}
    60%  {opacity: 1}
    85%  {opacity: 0}
    100% {opacity: 1}
}

#feature:hover .arrowHover2{
    animation-name: arrowPulse2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes arrowPulse2 {
    0%   {opacity: 1}
    20%   {opacity: 1}
    45%  {opacity: 0}
    70%  {opacity: 1}
    95%  {opacity: 0}
    100% {opacity: 1}
}

.video{
}

.video:hover{
    position:relative;
    animation-name: enlarger;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 50;
}

@keyframes enlarger {
    0%   {    border: 0px solid #b10232;
              transform: scale(1);}
    100% {    border: 2px solid #b10232;
              transform: scale(1.1);}
}

.video-wrapper{
    border-bottom: 1px solid #4e595f;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-wrapper iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-modal_content{
    -webkit-box-align: center;
    -webkit-align-self: center;
    -webkit-align-items: center;
    align-self: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    margin-top:200px;
}

.video-modal_box{
    width:100%;
    height:100%;
    background-color: #ffffff;
}

.video-modal__box-close{
    position: absolute;
    right: -35px;
    top: -45px;
    border: none;
    color: #ffffff !important;
    font-size: 1.8125rem;
    background: transparent;
}

.video-modal__box-close:hover{
    color: #b10232 !important;
}

.darkener{
    position: fixed;
    top:0; left:0;
    z-index: 9999;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.43);
}

.unmute:hover{
    color: #ffffff !important;
}

.larger:hover{
    color: #ffffff !important;
}

.post-video {
    background-color: #292F36;
    margin-bottom: 10px;
}

.post-video .content_large {
    padding: 20px;
}

.post-video .content_large h3 {
    margin: 0 0 6px;
    font-size: 20px;
    line-height: 1.5;
    text-transform: capitalize;
}

.content_large{
    background-color: #292F36;
    padding:20px;
    display:none;
    margin-top: -5px;
}

.btn_content{
    display:none
}

.video_large{
}

.shuffle-item:hover {
    z-index: 9999;
}

.video_large:hover .btn_content{
    display:block
}

.video_large:hover .content_large{
    border-left: 2px solid #b10232;
    border-right: 2px solid #b10232;
    border-bottom: 2px solid #b10232;
    display:block;
    z-index: 51;
}

.video_large:hover iframe{
    border-left: 2px solid #b10232;
    border-right: 2px solid #b10232;
    border-top: 2px solid #b10232
}

.video_large:hover{
    position:absolute;
    animation-name: enlarger2;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 50;
}

@keyframes enlarger2 {
    0%   {
        transform: scale(1);}
    100% {
        transform: scale(1.1);}
}

.card-body>ul li{
    list-style-type: square;
}

.text-white-slider p{
    color: #ffffff !important;
}

.text-white-slider h1{
    color: #ffffff !important;
}

.text-white-slider h2{
    color: #ffffff !important;
}

.text-white-slider h3{
    color: #ffffff !important;
}

.text-white-slider h3{
    color: #ffffff !important;
}

.text-white-slider h5{
    color: #ffffff !important;
}

.text-white-slider h6{
    color: #ffffff !important;
}

.darkner {
}

.darkner:before {
    content: '';
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.iconBoxes-red {
    position: absolute;
    width:60px;
    height: 60px;
    background-image: linear-gradient(150deg, #a60226 0%, #ef073b  100%);
    box-shadow: 5px 5px 5px rgba(0 0 0 0.2);
    top:-30px;
    left: 39%
}

.iconBoxes-blue {
    position: absolute;
    width:60px;
    height: 60px;
    background-image: linear-gradient(150deg, #165597 0%, #287cd8  100%);
    box-shadow: 5px 5px 5px rgba(0 0 0 0.2);
    top:-30px;
    left: 39%
}

.mySlides {display: none}

.dot{
    position: relative;
}
.icon{
    color: #ffffff
}

.active{
  color: #b10232 !important;
}

.active2 .icon{
    color: #b10232
}

.active2:after{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    bottom:-30px;
    left:30%;
    content: '';
    transform: rotate(45deg);
    z-index: 0;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active2, .dot:hover {
    background-color: #3d3d3d;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.imgshadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
