{{ $data := index site.Data site.Language.Lang }}

{{ if $data.dreiSaeulen.saeule.enable }}
{{ with $data.dreiSaeulen.saeule }}
{{"<!-- Start About Section -->" | safeHTML}}
<section class="bg-one about section" id="about" style="padding-top:60px; padding-bottom: 100px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    {{ $titleFirst := (split .title " ") }}
                    {{ $lenTotal := (len $titleFirst) }}
                    {{ $len := sub $lenTotal 2 }}
                    <h2>
                    {{ range $index, $element := $titleFirst }}
                    {{ if le $index $len }}
                    {{ $element }}
                    {{ else }}
                        <span class="color"> {{ $element }} </span>
                    {{ end }}
                    {{ end }}
                    </h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{ range .saeulen_item }}
            {{"<!-- About item -->" | safeHTML}}
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="500ms">
                <div class="block p-5" style="height: 100%">
                    <div class="icon-box text-center">
                        {{with .icon}}<i class="{{ . }}"></i>{{ end }}
                    </div>
                    {{"<!-- Express About Yourself -->" | safeHTML}}
                    <div class="content mt-5">
                        <div class="row mb-5 justify-content-center">
                            <div class="col-auto p-0">
                                <img class="dpxProductLogo" src="{{ site.Params.productLogo | absURL }}" alt="dpx produkt logo">
                            </div>
                            <div class="col-auto p-0">
                                <h3 style="margin-bottom:0;">{{ .title }}</h3>
                            </div>
                        </div>
                        <div class="row text-white">
                            <p>{{ .content | markdownify }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}
{{ end }}
