{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $slides := .Sites.First.GetPage "slides"  }}
{{ $slideContainer := "/images/slider/Slider_container.png" }}

{{ "<!-- hero slider -->" | safeHTML }}
<section id="heroSlider">
    <div class="hero-slider no-nav position-relative">
        {{ "<!-- slider item -->" | safeHTML }}
        {{ range $slides.Pages }}
        {{ with .Params }}
        <div class="hero-slider-item overlay-light" style=" height:500px; position: relative" >
            <div class="hero-slider-item overlay-light" style=" height:500px; width:70vw; position:absolute; right:0" data-lazy="{{ .bg_image | absURL }}" title="{{ .title }}">
            </div>
            <div class="container m-0" style="height:500px; background-image: url('{{ $slideContainer | absURL }}'); background-repeat: no-repeat; position: relative; float:left">
                <div class="row justify-content-left">
                    <div class="col-lg-7" style="margin-top:10vh">
                        <div class="hero-content p-5 float-left">
                            <p class="text-uppercase slick-uppercase mb-1 ">
                                {{ .subtitle | markdownify }}</p>
                            <h2 class="font-weight-bold mb-3">
                                {{ .title | markdownify }}</h2>
                            <p class="mb-50">
                                {{ .content | markdownify }}
                            </p>
                            {{ if .button.enable }}
                            <a data-duration-in="0.5" data-animation-in="fadeIn{{.animation_from | humanize}}" data-delay-in="1"
                               href="{{ .button.link | relLangURL }}" class="btn btn-main text-uppercase">{{ .button.label }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>