{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "navigation.html" . }}

{{ partial "sidebar.html" $data.sideNavi }}

{{ partial "banner_small.html" . }}

{{ partial "contentModulV5-dark.html" $data.supportService }}

{{ partial "contentModulV6-light.html" $data.exportOnDemand }}

{{ partial "boxesWithIconsV2.html" $data.itService }}

{{ partial "contentModulV6-light.html" $data.ihreAnforderung }}

{{ partial "contentModulV4-dark.html" $data.serviceDesk }}

{{ end }}
