{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section" id="jobs">
    <div class="container">
        <div class="row">
            {{ with $data.karriere_left}}
            <div class="col-lg-6 p-5">
                <div class="col-12 mb-5">
                    <h2 class="mb-4"> {{ .unternehmen.headline }}</h2>
                    <p> {{ .unternehmen.content | markdownify }}</p>
                </div>
                <div class="col-12 mb-5">
                    <h2 class="mb-3"> {{ .benefits.headline }}</h2>
                    <ul class="p-3">
                    {{ range .benefits.items }}
                        <li style="list-style-type: square;">{{ .title }}</li>
                    {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
            <div class="col-lg-6">
                {{ "<!-- accordion -->" | safeHTML }}
                <div id="accordion" class="mb-md-50 mb-5">
                    {{ with $data.jobs.jobs}}
                    {{ range $index, $element := .items }}
                    <div class="card border-0">
                        <div class="card-header bg-gray border">
                            <a class="card-link h5 d-block tex-dark mb-0 py-2 px-4" data-toggle="collapse"
                               href="#collapse{{ add $index 1 }}">
                                <strong>{{ .title }}</strong> <i class="ti-plus text-primary mr-2 float-right"></i>
                                <p class="mb-0">{{ .ort }} </p>
                            </a>
                        </div>
                        <!--data-parent="#accordion" schließt alle außer das aktuelle item-->
                        <div id="collapse{{ add $index 1 }}" class="collapse"
                             data-parent="">
                            <div class="card-body text-color pl-0 pb-0  px-5 py-3">
                                <p>{{ .description | markdownify }}</p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
                {{ "<!-- /accordion -->" | safeHTML }}
                {{ with $data.karriere_left}}
                <div class="col-12 mb-5">
                    <p> {{ .subcontent.content | markdownify}}</p>
                </div>
                {{ end }}
            </div>

        </div>
    </div>
</section>