{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "navigation.html" . }}

{{ partial "sidebar.html" $data.sideNavi }}

{{ partial "bannerParralax.html" . }}

{{ partial "submenu.html" $data.submenu.cloudServices }}

{{ partial "contentModulV1-dark.html" $data.traditionellOnPremises }}

{{ partial "cta_generic.html" $data.ctaZentraleIt.HpePrimera }}

{{ partial "contentModulV2-light.html" $data.colocation }}

{{ partial "cta_generic.html" $data.ctaZentraleIt.HpeGreenlake }}

{{ partial "contentModulV1-dark.html" $data.hosting }}

{{ partial "contentModulV2-light.html" $data.iaas }}

{{ partial "contentModulV1-dark.html" $data.paas }}

{{ partial "contentModulV2-light.html" $data.saas }}

{{ partial "contentModulV1-dark.html" $data.hybrid }}

{{ end }}
