{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "navigation.html" . }}

{{ partial "sidebar.html" $data.sideNavi }}

{{ partial "startseite/heroSlider.html" . }}

{{ partial "startseite/dreiSaeulen.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "skill.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}