{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "navigation.html" . }}

{{ partial "sidebar.html" $data.sideNavi }}

{{ partial "startseite/heroSlider.html" . }}

{{ partial "startseite/dreiSaeulen.html" . }}

{{ partial "startseite/cta_contact.html" . }}

{{ partial "startseite/infrastruktur.html" . }}

{{ partial "startseite/cta_termin.html" . }}

{{ partial "startseite/kundenstimme.html" . }}

{{ partial "startseite/mediathekTeaser.html" . }}

{{ partial "blog.html" . }}

{{ partial "map.html" . }}

{{ end }}
