{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "navigation.html" . }}

{{ partial "sidebar.html" $data.sideNavi }}

{{ partial "banner_small.html" . }}

{{ partial "submenu.html" $data.submenu.netzwerkSecurity }}

{{ partial "contentModulV3-dark.html" $data.wlanVermessung }}

{{ partial "contentModulV1-light.html" $data.wlan }}

{{ partial "contentModulV2-dark.html" $data.lan }}

{{ partial "contentModulV1-light.html" $data.firewall }}

{{ partial "cta_generic.html" $data.ctaNetzwerkSecurity.Sophos }}

{{ partial "contentModulV2-dark.html" $data.endpointSecurity }}

{{ end }}
